@charset "utf-8";

$width: 920px;

html,body{
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #555;
}

h1,h2,h3,h4,h5{
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  color: #333;
}

*{
  box-sizing: border-box;
}

header{
  background: linear-gradient(#555, #666);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  h3{
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0 auto;
    max-width: $width;
    padding: 10px 0;
  }
}

pre{
  font-size: 0.9em;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background: #ffc;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

.wrapper{
  max-width: $width;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  margin: 0 auto 40px auto;
  padding: 0 20px;
  position: relative;
}

#navigation{
  position: absolute;
  top: 20px;
  width: 120px;

  *{
    margin: 0;
    padding: 0;
  }

  h3{
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  ul{
    border-top: 1px solid #999;
  }

  li{
    list-style: none;
    display: block;

    a{
      display: block;
      border-bottom: 1px solid #999;
      text-decoration: none;
      color: #333;
      padding: 0 5px;
      line-height: 30px;
    }
  }
}

section.content{
  margin: 20px 0 0 140px;
  padding: 1px 0;
}