@charset "utf-8";
@import "syntax.scss";

$width: 920px;
$radius: 2px;
$orange: #f70;

html,body{
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #555;
}

h1,h2,h3,h4,h5{
  font-family: 'helvetica neue', sans-serif;
  font-weight: 200;
  color: #fff;
  margin: 1.2em 0;
  text-shadow: 1px 1px 1px black;
}

a{
  color: $orange;
}

*{
  box-sizing: border-box;
}

img.screenshot{
  margin-left: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px black;
}

header{
  background: linear-gradient(darken(#333, 5%), #333);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-left: 20px;

  a{
    background: #222;
    border-radius: 3px;
    color: #f70;
    text-shadow: 0 0 2px darken(#f70, 20%);
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 5px;
  }

  h3{
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0 auto;
    max-width: $width;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
  }
}

code{
  color: #f70;
  font-family: Monaco, monospace;
  font-size: 0.9em;
}

pre{
  font-size: 0.9em;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background: #181818;
  border-radius: $radius;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
  color: #eee
}

h3{
  font-size: 1.0em;
  font-weight: bold;
  color: #ccc;
}

h4{
  font-size: 1.0em;
  font-weight: normal;
  color: #ccc;
}

.wrapper{
  max-width: $width;
  border-radius: $radius;
  line-height: 150%;
  min-height: 640px;
  border-radius: 2px;
  background: #222;
  color: #aaa;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  margin: 0 auto 40px auto;
  padding: 0 20px;
  position: relative;
}

#navigation{
  position: absolute;
  top: 20px;
  width: 120px;

  *{
    margin: 0;
    padding: 0;
  }

  h3{
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  ul + h3{
    margin-top: 15px;
  }

  ul{
    border-top: 1px solid #555;
  }

  li{
    list-style: none;
    display: block;

    a{
      display: block;
      border-bottom: 1px solid #555;
      text-decoration: none;
      color: #f70;
      padding: 0 5px;
      line-height: 30px;
    }
  }
}

section.content{
  margin: 20px 0 0 140px;
  padding: 1px 0;

  iframe{
    max-width: 100%;
  }

  strong{
    color: #eee;
  }
}

.feature-comparison + table{
  border-top: 1px solid #555;
  margin-left: 10px;

  th,td{
    border-bottom: 1px solid #555;
    line-height: 1.75em;
    width: 80px;
    text-align: center;
  }

  th{
    color: #777;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
  }

  td:nth-child(1),th:nth-child(1){
    width: 300px;
    text-align: left;
    padding-left: 10px;
  }
}

@media (max-width: 640px) {
  #navigation{
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 20px;
    height: 40px;
    overflow: hidden;

    h3:first-child:before{
      content: "> ";
    }

    h3:first-child{
      color: $orange;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  #navigation.expanded{
    height: auto;
    overflow: visible;
  }

  section.content{
    margin: 0;
  }

}